html
  head

    title HTTP Request Trap

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap", rel="stylesheet") 

    link(rel="stylesheet", href="/assets/css/style.css")
    script(src="/assets/js/functions.js") 

  body
    .header
            h2 HTTP Request Trap
            div
                strong Endpoint:
                div
                    input.endpoint(value="http://"+locals.ip+":"+locals.port+"/trap", readonly=1)
                    button.endpoint-copy(onclick="copy_clipboard('.endpoint');") copy
            div
                button.reload(onclick="location.reload();") reload
                button.reset(onclick="reset()") reset
    .content
        each req in reqs
            .req-panel
                .req-info
                    div  
                        span.req-index
                            strong #&nbsp;
                            span= req.index
                        span.req-time= req.dateUTCStr
                    div
                        span.req-method= req.method
                        span.req-url= req.url
                .req-data
                    .req-headers
                        table
                            each val, key in req.headers
                                tr
                                    td
                                        strong= key
                                    td
                                        input(value=val, readonly=1)
                    .req-body
                        textarea(readonly=1)= req.body

        