html
  head

    title HTTP Request Trap

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap", rel="stylesheet") 

    link(rel="stylesheet", href="/assets/css/style.css")
    script(src="/assets/js/functions.js") 

  body
    .header
            h2 HTTP - Request Trap
            div
                div
                    input.endpoint(value="http://"+locals.ip+":"+locals.port+"/trap", readonly=1)
                    button.endpoint-copy(onclick="copy_clipboard('.endpoint');") copy
            div
                button.reload(onclick="location.reload();") reload
                button.reset(onclick="reset()") reset
    .content
        if reqs.length
            each req in reqs
                .req-panel
                    .req-info
                        span.req-method= req.method
                        span.req-time= req.dateUTCStr
                        span.req-index
                                strong #&nbsp;
                                span= req.index
                    .req-data
                        .req-headers
                            table
                                tr
                                    td
                                        strong Remote Address
                                    td
                                        input(value=req.remoteAddress, readonly=1)
                                tr
                                    td
                                        strong Path
                                    td
                                        input(value=req.url, readonly=1)
                                tr
                                    td(colspan="2") 
                                        hr
                                each val, key in req.headers
                                    tr
                                        td
                                            strong= key
                                        td
                                            input(value=val, readonly=1)
                        .req-body
                            textarea(readonly=1)= req.body
        else     
            div
                strong Getting started:
                br
                code Send a GET or POST request to /trap
                br
                br
                strong Example:
                br
                code $ curl http://localhost:1234/trap
                br
                code $ curl -X POST http://localhost:1234/trap -d "foo=bar"
        